APP_ENV=development
APP_ADDR=:8080
DEV_USER=your_traq_id

TRAQ_API_BASE_URL=https://q.trap.jp/api/v3
TRAQ_BOT_ACCESS_TOKEN=your_bot_access_token
TRAQ_API_TIMEOUT=10s
TRAQ_CACHE_REFRESH_INTERVAL=5m
TRAQ_CACHE_MAX_STALE=15m

NS_MARIADB_HOSTNAME=127.0.0.1
NS_MARIADB_PORT=3307
NS_MARIADB_USER=app
NS_MARIADB_PASSWORD=password
NS_MARIADB_DATABASE=1m26_13
